body { background-color: lightblue; margin: 10px auto 10px; padding; 0;}
#wrapper { position: relative; max-width: 600px; margin: 0 auto; background-color: ivory; padding: 20px; height: auto; border: 2px solid lightgrey ;border-radius: 10px; box-shadow: 3px 3px 5px grey; }


p {font-family: 'Rokkitt', serif; line-height: 150%;font-size: 16px;}
.listStyle {font-family: 'Rokkitt', serif; line-height: 130%;font-size: 20px; list-style-type: none;}
.chapter-title { font-size: 28px; font-weight: 600; font-family: 'Rokkitt', serif;}
.center { text-align: center }
.bold{font-weight: 600; padding-right: 10px; color:saddlebrown; }
h1 {font-family: 'Niconne', cursive;font-size: 40px;}
h5 {font-family: 'Rokkitt', serif;font-size: 20px;font-weight: bold;}
a { text-decoration: none; color: darkorange; }
:link:hover { color: goldenrod; }
